.app-container {
  min-height: 100vh;
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #020617;
  padding: 24px;
  color: white;
  border-radius: 16px;
  width: 350px;
}

input {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #334155;
  background: #0f172a;
  color: white;
}

button {
  width: 100%;
  padding: 10px;
  border-radius: 100px;
  background: #22c55e;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.result-box {
  margin-top: 16px;
  padding: 12px;
  background: #0f172a;
  border-radius: 8px;
}

.error {
  color: #f97316;
  margin-top: 10px;
}

.helper {
  color: #94a3b8;
  font-size: 0.8rem;
  margin-top: 2px;
  display: block;
}
